<a href="https://colab.research.google.com/github/bryleen1/DfE_python/blob/main/Python_with_Jupyter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data

In [1]:
print(5)
print(5.0)
print("5")
print(True)
print(["Lovers", "Haters", "Needers"])

5
5.0
5
True
['Lovers', 'Haters', 'Needers']

In [2]:
print(type(5))
print(type(5.0))
print(type("5"))
print(type(True))
print(type(["Lovers", "Haters", "Needers"]))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'list'>

Variables

In [4]:
name = 'Kofi'
age = 41
height = 1.82
hobbies = ["Artificial Intelligence", "Gaming", "Functional Medicine"]
is_alive = True

fmesg = f"{name} is {age} and {height * 100} cm" # formatted string

print(name, age, height)  # print with multiple args = spaced output
print(hobbies)
print(is_alive)
print(fmesg)

Kofi 41 1.82
['Artificial Intelligence', 'Gaming', 'Functional Medicine']
True
Kofi is 41 and 182.0 cm

In [5]:
age += 1

age   # the last line of a jupyter cell is always printed

42

Operations

In [8]:
print( "Kofi " + "Glover")
print( 2 ** 3 )    # 2 * 2 * 2 = 2^3
print( "-" * 3 )
print( "@" in "kofi.glover@qa.com")
print( True and False )
print( ["Cake", "Cream"] + ["Flour", "Sugar"] )
print( 1.14 <=  2.13 )
print("cake " * 3)

Kofi Glover
8
---
True
False
['Cake', 'Cream', 'Flour', 'Sugar']
True
cake cake cake

Comparing values

In [10]:
michael_bp = 175
alice_bp = 175
eve_bp = 140

print(michael_bp == alice_bp)
print(michael_bp != alice_bp)
print(michael_bp != eve_bp)
print(michael_bp >= eve_bp)

True
False
True
True

In [11]:
message = "WARNING: Too High!"
("WARNING" in message) and (michael_bp >= eve_bp)

True

In [12]:
safe_max = 150
safe_min = 80
(eve_bp < safe_max) or (michael_bp < safe_max)

True

In [13]:
not ("WARNING" in message)

False

In [14]:
"WARNING" not in message

False

In [15]:
if ("WARNING" in message) and (michael_bp > safe_max):
    print("GO TO HOSPITAL")
else:
    print("STAY AT HOME")

GO TO HOSPITAL

Simple functions

In [16]:
name = "Kofi"

print(name)          # output the value of name
print( id(name) )    # output the memory location of the value of name
print( type(name) )  # output the type of the value of name
print( len(name) )   # output the length of (the value of) name

Kofi
140532830208048
<class 'str'>
4

Objects

In [17]:
# data.operation(requirements)
# obj.method(parameters)
# ask name to upper() itself 
# ask name if it startswith(M)

print( name.upper()  )
print( name.lower()   )
print( name.startswith("K") )
print( name.endswith("K") )

# all data in python is an object
# objects are data structures:  values (properties), types (class), id, methods

KOFI
kofi
True
False

In [18]:
dir(name)[-5:] # lists the last 5 attributes & methods of the object

['swapcase', 'title', 'translate', 'upper', 'zfill']

Exercise 1

In [22]:
name = 'Bryleen'
age = 22
location = 'Kent'
occupation = 'Data Engineering Trainee'

In [27]:
print(name, age, location, occupation)

Bryleen 22 Kent Data Engineering Trainee

In [30]:
print(name.upper(), age, location.upper(), occupation.upper())

BRYLEEN 22 KENT DATA ENGINEERING TRAINEE

In [33]:
if age > 18:
  print('You are over 18')
else:
  print('You are under 18')

You are over 18

In [34]:
print('- ' * 10)

- - - - - - - - - -

Defining Functions

In [35]:
def error(pred, obv):
    return (pred - obv) ** 2

error(3, 3.3)

0.0899999999999999

In [36]:
def predict(age, height, parameters=(0.5, 0.5, 0)):
    """
    Predict a weight (kg) from an age (yr), height (cm) and
        parameters :
            (age importance, height importance, base weight)
    """
    # reset the scales so each goes from 0 to 1
    age, height = age/100, height/200
    
    # extract the parameters for each variable
    a, h, w = parameters
    
    # predict a weight
    weight = 100 * (a * age + h * height + w)
    
    return round(weight, 2)

In [37]:
help(predict)

Help on function predict in module __main__:

predict(age, height, parameters=(0.5, 0.5, 0))
    Predict a weight (kg) from an age (yr), height (cm) and
        parameters :
            (age importance, height importance, base weight)

In [38]:
predict(10, 150, (0.6, 0.4, 0.2))

56.0

In [39]:
predict(10, 150) # pass arguments by position, one by default

42.5

In [40]:
predict(age=10, height=150) # pass by name

42.5

In [41]:
# functions = procedures
# can also not return anything

def show_results(results):
    print("-" * 10)
    print(results)
    print("-" * 10)
    
show_results([12, 12, 15])   # writes to screen, but has no return value

def distance(x1, x2):
    return (x2 - x1) ** 2   # euclidean distance, aka. L2 norm
    

dist = distance(10, 12)
print(dist * 1.1)  # calculated value can be stored in variable


rtn = show_results([10, 12])

print(type(rtn))
print(rtn) # nothing is stored here, no return value

----------
[12, 12, 15]
----------
4.4
----------
[10, 12]
----------
<class 'NoneType'>
None

Exercise 2

In [45]:
def _mean(num1, num2, num3):
  return (num1 + num2 + num3)/3

_mean(5, 10, 15)

10.0

In [47]:
def cube(x):
  return x * x * x

cube(2)

8

In [50]:
def is_adult(age):
  if age > 18:
    print('over 18')
  else:
    print('under 18')

is_adult(12)

under 18

In [64]:
def show(_mean, cube, is_adult):
    print("mean:", _mean)
    print("cube:", cube)
    print("age", is_adult)
    
mean_ages = _mean(18,18,20) #use your mean function to calculate mean age
two_late = cube(2)
teen = is_adult(15)

show(mean_ages, two_late, teen)

under 18
mean: 18.666666666666668
cube: 8
age None

Data structures

In [65]:
# strings

quote = "Be the change you wish to see in the world!"

print( quote[0] )   # first
print( quote[1] )   # second
print( quote[-2] )  # second from last
print( quote[-1] )  # last

B
e
d
!

In [66]:
print( quote[0:2] )  # zero until postn-2

Be

In [67]:
print( quote[0:-6] ) # beginning until -6th postn

Be the change you wish to see in the

In [68]:
print( quote[0:-6]  + " bed" )

Be the change you wish to see in the  bed

In [69]:
print(quote[:2])    # leave off start postn = zero
print(quote[-6:] )  # leave off end postn = end of string

Be
world!

In [70]:
# tuple

point = (10, 20, 30)

print( point[0] )
print( point[1] )
print( point[-1] )

print( point[0:2] ) #slice, as with strings

# point[0] = 15 # error: not allowed to overwrite

# technically, () not required...

address = "OldSt", "London"

print(address)

10
20
30
(10, 20)
('OldSt', 'London')

In [71]:
# lists
# y target customer satisfaction
# x customer features 
# (days-since-first-purchase, total-spent, nearest-store, addresss)
#  

x = [300, 1000, "London", ("Old Street", "London")]

print(x)
print(len(x))

print(x[-1])
print(len(x[-1]))

[300, 1000, 'London', ('Old Street', 'London')]
4
('Old Street', 'London')
2

In [72]:
x.append(1)
x

[300, 1000, 'London', ('Old Street', 'London'), 1]

In [73]:
x.pop()

1

In [74]:
print(x)
x.insert(0, 1) # insert at postn 0, the element 1

print(x)

[300, 1000, 'London', ('Old Street', 'London')]
[1, 300, 1000, 'London', ('Old Street', 'London')]

Lists in functions

In [75]:
def error(y_pred, y, i):
    return (y_pred - y[i]) ** 2

In [76]:
y = [2, 3, 5, 8]
guess = 2.2

error(guess, y, 1)   #   (2.2 - 3) ** 2

0.6399999999999997

Exercise 3

In [79]:
cart = ['apples', 'bananas', 'pears', 'oranges']
print(cart[0])
print(cart[-1])
print(cart[1:3])

apples
oranges
['bananas', 'pears']

In [90]:
cart

['watermelon',
 'watermelon',
 'watermelon',
 'watermelon',
 'apples',
 'bananas',
 'pears',
 'oranges',
 'oranges']

Dictionaries

In [91]:
user = {
    "name": "kofi",
    "age": 41,
    "location": "uk"
}

print(user["name"])     # use string keys to look up value rather than int index
print(user["age"])
print(user["location"])

kofi
41
uk

In [92]:
# data science example: labelling for Fraud|NotFraud
# dict keys can be lots of diff. thigns, not just strings...
# but must be unique!
# key = (age, days-since-purchase-of-insurance)  
user = {
    (18, 13) : "Fraud",
    (60, 300) : "NotFraud"
}

user[(18, 13)]

'Fraud'

In [93]:
# dictionaries more commonly are more like matrices...
users = {
    "age-at-purchase": [18, 60],
    "days-from-purcahse": [13, 300]
}

ages = users['age-at-purchase']

sum(ages)/len(ages)

39.0

Control flow

In [94]:
user_age = 18

if user_age > 65:                      # colons
    print("See Retirement Plans")      # indentation
elif user_age > 21:                    # keyword, elif
    print("See Vocation Plans")
elif user_age > 13:
    print("See Education Plans")
else:
    print("See your mother!")

See Education Plans

In [2]:
# while loops are rare, usually bad -- repeating

ratings = [5,5,6,7,8,1]

while len(ratings) > 0:
    print(ratings.pop())    # remove last one

ratings

1
8
7
6
5
5

[]

In [3]:
ratings = [5,5,6,7,8,1]

for element in ratings:      # for name-of-each-element  in source-data-input
    print(element)           # algorithm for processing each-element
    
ratings

5
5
6
7
8
1

[5, 5, 6, 7, 8, 1]

Exercise 

Your goal in this exercise is to simualte tracking health data for a user, and provide them with a custom health warning message if there are any issues with their health data.

Part 1

Ask the user for a single HR and BP reading.

Report a warning based on where both of these values fall.

bad signs

HR > 200

BP > 200

HR > 150, BP > 170

In [13]:
BP = int(input('BP?'))
HR = int(input('HR?'))

if HR > 200 or BP  > 200:
  print('Value is too high')
elif HR > 150 and BP > 170:
  print('WARNING: HR and BP is too high')
elif HR < 60 or BP < 90:
  print('Value is too low')
else:
  print('Healthy levels')

BP?230
HR?250
Value is too high

# **Part 2**

Ask the user how they are feeling. Offer the user some advice on their mental health.

bad signs:

does the response contain "sad"

does it end with "!?"

good signs:

does it contain "happy"

does it end with "!"

In [30]:
response = input(str('How are you feeling?'))

if 'sad' in response or response.endswith('!?'):
  print('Listen to upbeat music!')
elif "happy" in response or response.endswith('!'):
  print('Keep it up!')
else:
  print('Unable to offer advice')

How are you feeling?I am so happy!?
Listen to upbeat music!

## Analysing Datasets with for

# How do I loop over multiple collections?
When using a **for loop** you can only loop over one dataset.

However, you can combine multiple datasets into one, using **zip()**.

The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together etc.

In [35]:
hrs = [60, 70, 80]
bps = [100, 200, 250]

In [36]:
bundled = list(zip(hrs, bps)) #zip only works on elements with pairs. No pairs -> not elements not included in lists
bundled

[(60, 100), (70, 200), (80, 250)]

In [39]:
for hr, bp in zip(hrs, bps):   # could have put in bundled
    print(hr, bp)

60 100
70 200
80 250

In [40]:
for hr, bp in zip(hrs, bps):
    print("We measured: ", hr, "bpm")
    print("We measured: ", bp, "mmHg")
    
    if (hr > 200) or (bp > 200):
        print("WARNING")
    else:
        print("OK")
        
    print() # prints an empty line

We measured:  60 bpm
We measured:  100 mmHg
OK

We measured:  70 bpm
We measured:  200 mmHg
OK

We measured:  80 bpm
We measured:  250 mmHg
WARNING

# How do I loop over a range of numbers?
range will produce numbers in the range START to END seperated by STEP:

range( START, END, STEP)

start Optional. An integer number specifying at which position to start. Default is 0

stop Required. An integer number specifying at which position to stop (not included).

step Optional. An integer number specifying the incrementation. Default is 1

In [41]:
list(range(0, 100, 20))

[0, 20, 40, 60, 80]

In [42]:
for i in range(0, 100, 20):
    print(i)

0
20
40
60
80

In [43]:
predicted_hr = []

for hr in range(60, 180, 10):
    predicted_hr.append(0.9 * hr + 1)
    
predicted_hr

[55.0, 64.0, 73.0, 82.0, 91.0, 100.0, 109.0, 118.0, 127.0, 136.0, 145.0, 154.0]

# How do I loop with an index?
The enumerate() function takes a collection (e.g. a tuple) and returns it as an enumerate object.

The enumerate() function adds a counter as the key of the enumerate object.

Syntax: enumerate(iterable, start)

Parameters:

iterable: An iterable object

start: A Number. Defining the start number of the enumerate object. Default 0

In [44]:
hr_readings = [70,50,60,80]

In [45]:
for hr in hr_readings:
    print(hr)

70
50
60
80

In [46]:
for i, hr in enumerate(hr_readings):
    print(f"Reading {i + 1} was {hr} bpm")

Reading 1 was 70 bpm
Reading 2 was 50 bpm
Reading 3 was 60 bpm
Reading 4 was 80 bpm

# What more should I be aware of with looping in python?

The basic for loop can do almost everything you need. But, as above, helpers like zip(), range(), enumerate() exist to make looping easier.

There is also:

sorted()

reversed()

...

For this course we are aiming to basic looping patterns, but these are worth further study.

**Type conversions**

In [47]:
# iterators -- like data structures, but whole data not stored...

ten = range(0, 10)

print(ten)

range(0, 10)

In [48]:
for i in ten:      # the range gives a number each go around
    print(i)

0
1
2
3
4
5
6
7
8
9

In [49]:
numbers = list(ten) # collects all data from ten into list, which stores all in memory

numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
age = "18"

age < 20

TypeError: ignored

In [51]:
int(age) < 20

True

In [52]:
str(5) * 2  # "5" * 2. Doesn't do the maths -> str

'55'

In [53]:
dict( [ ("name", "Michael"), ("age", 29 )])

{'age': 29, 'name': 'Michael'}